<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div class="button-bar">
            <a ui-sref="solados" class="button button-positive button-block ">SOLADO</a>
            <a ui-sref="tiras" class="button button-positive button-block  button-full">TIRAS</a>
            <a ui-sref="cabides" class="button button-positive button-block  button-full">CABIDES</a>
        </div>
        <button class="button button-stable button-block  icon-right ion-compose">solicitar orçamento</button>
        <a href="mailto:mrmaisvendas@gmail.com" class="button button-stable button-block  icon-right ion-ios-email">contatos</a>
        <div class="list card">
            <div class="item item-divider">promoção do dia</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/iXSU1t92QBaG4fxBrbfg_chinelo_branco.jpg" width="100%" height="auto">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>