<ion-view title="Solados">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list></ion-list>
        <div style="text-align:center;">
            <img src="img/wUmHYMnUTkeKxmZkA13k_solado_inferior_branco.jpg" width="100%" height="auto">
        </div>
        <form class="list">
            <label class="item item-select" name="cor">
                <span class="input-label">Cor:</span>
                <select>
                    <option>Preto</option>
                </select>
            </label>
            <label class="item item-input" name="quantidade">
                <span class="input-label">Qtd. (pares) :</span>
                <input type="text" placeholder="Digite a quantidade">
            </label>
            <div class="list card">
                <div class="item item-divider">resumo</div>
                <div class="item item-body">
                    <div>
                        <p>total tiras
                            <strong>R$ 48,00</strong>
                        </p>
                    </div>
                </div>
                <div class="item item-divider">total kit 48,00</div>
            </div>
        </form>
        <form class="list"></form>
        <form class="list"></form>
        <a ui-sref="home" class="button button-positive button-block  icon-right ion-android-bicycle">continuar</a>
    </ion-content>
</ion-view>